.container {
    height: 100vh;
    width: 100%;
}

.header {
    display: flex;
    padding: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
}

.filter_row {
    margin-right: 20px;
}

.header_right {
    display: flex;
    align-items: center;
    justify-self: right;
    margin-left: auto;
}

.button_modify {
    color: var(--color-theme-bg-reverse) !important;
}

.button {
    color: var(--color-theme-bg) !important;
}



.image {
    object-fit: contain;
    width: 50px;
    height: 50px;
}

.button_bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}