.container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.pin_navbar_container {
    height: 50px;
    width: 100%;
}

.pin_navbar {
    position: fixed;
    width: 100%;
    padding: 10px 10px 5px;
    background: var(--color-background-panel);
    z-index: 1;
}

.search_input {
    font-size: 0.85rem;
    width: 100%;
    height: 28px;
    color: var(--color-text-secondary);
}

.nav_list {
    margin: 0 0 0;
}

.nav_list_shadow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}